include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt

recursive-include employee_disciplinary_app *.css
recursive-include employee_disciplinary_app *.csv
recursive-include employee_disciplinary_app *.html
recursive-include employee_disciplinary_app *.ico
recursive-include employee_disciplinary_app *.js
recursive-include employee_disciplinary_app *.json
recursive-include employee_disciplinary_app *.md
recursive-include employee_disciplinary_app *.png
recursive-include employee_disciplinary_app *.py
recursive-include employee_disciplinary_app *.svg
recursive-include employee_disciplinary_app *.txt

recursive-exclude employee_disciplinary_app *.pyc
